 /* customisde css  */
 body{
 }
 .banner-img-1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/cover/cover-1.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .banner-img-2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/cover/cover-2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .banner-img-3{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/cover/cover-3.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .ft-section{
   height: 500px;
 }
 
